* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    background-color: black;
    color: white;
  }
  
  #game {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
  
  #background {
    background: black no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    transition: all .3s ease;
  }
  
  #dialogue-box {
    display: none;
    position: absolute;
    bottom: 0;
    max-width: 25%;
    min-width: 20%;
    height: auto;
    color: black;
    z-index: 2;
    cursor: pointer;
    padding: 0;
  }

  .dialog__wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .comic-bubble {
    border-width: 40px;
    border-style: solid;
    border-image: url('src/images/dialogbubble.svg') 40 fill stretch;
    min-width: 300px;
    height: 200px;
    padding: 20px;
  }

  .comic-bubble__tail {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -72px;
    left: 80%;
    transform: translateX(-50%);
    background-image: url('src/images/dialogbubble-arrow.svg');
  }

  #dialogue-box.right {
    display: block;
    bottom: 700px;
    right: calc(700px);
    transform: translateY(50%);
  }

  #dialogue-box.left {
    display: block;
    bottom: 700px;
    left: calc(700px);
    transform: translateY(50%);
  }

  #dialogue-box.left .comic-bubble__tail {
    left: 20%;
    transform: translateX(-50%) scaleX(-1);
  }

  #dialogue-box.center {
    display: block;
    bottom: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
  }

  #dialogue-box.narrator {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 100vw;
    background: rgba(0, 0, 0, .7) !important;
    color: white;
    padding: 20px;
    z-index: 2;
    cursor: pointer;
    border: 0;
    transform: translateX(-50%);
  }

  .narrator .dialog__wrapper {
    width: 1200px;
    margin: 0 auto;
    background: none;
  }
  
  #name {
    position: absolute;
    top: -80px;
    left: 0;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f9d342;
    border: 3px solid black;
    /* background: white; */
    padding: 1rem;
    border-width: 10px;
    border-style: solid;
    border-image: url('src/images/dialogbubble.svg') 7 fill stretch;
  }
  
  #dialogue {
    font-size: 18px;
  }

  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #characters {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* So clicks go through */
    z-index: 1;
  }
  
  .character-slot {
    position: absolute;
    bottom: 0;
    /* width: 700px; */
    height: 700px;
    width: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    transition: all .3s ease;
  }
  
  #left-character {
    left: 10%;
  }
  
  #right-character {
    right: 10%;
  }

   #middle-character {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .character-slot img {
    max-height: 80%;
    max-width: 100%;
    object-fit: contain;
  }
  
  #choices-container {
    position: absolute;
    bottom: 20px; /* Place it just above the bottom of the screen */
    width: 100%;
    text-align: center;
    z-index: 2; /* Ensure it's on top of the characters */
  }
  
  #choices-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #choices-container button:hover {
    background-color: #45a049;
  }
  
  #game-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
  }

  
#mute-sound {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
}

#skip-video {
  position: fixed;
  z-index: 10000;
  top: 1rem;
  left: 50%;

  transform: translateX(-50%);
}

#go-back {
  position: fixed;
  z-index: 10000;
  top: 1rem;
  left: 1rem;
}

#skip-video.hidden {
  display: none;
}