@font-face {
    font-family: 'Tablon';
    src: url('fonts/Tablon-Black.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 160%;
    background-color: black;
    color: white;
}

#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/accueil.webp');
    background-repeat: no-repeat;
    background-size: cover;

    &.hidden {
        display: none;
    }

    .start-screen__container {
        position: absolute;
        top: 50%;
        right: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Tablon';

        transform: translateY(-50%);
    }

    #logo {
        width: 900px;
    }

    #start-button {
        position: relative;
        margin-top: 2rem;
        padding: 6rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        background: transparent;
        color: white;
        border-width: 20px;
        border-image: url('./images/dialogbubble-black.svg') 20 fill;
        cursor: pointer;
        font-size: 1.8rem;
        font-family: 'Tablon';

        .cyan, .magenta {
            transition: all .3s ease;
        }

        &:hover {
            .cyan, .magenta {
                z-index: -1;
                position: absolute;
                top: -5px;
                left: -20px;
                width: 100%;
                height: 100%;
                background: cyan;
            }

            .magenta {
                left: 20px;
                top: 20px;
                background: magenta;
            }

            
        }
    }
}


#game {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: relative;
    overflow: hidden;

    &.hidden {
        visibility: hidden;
    }
}

#game-container {
    position: relative;
    z-index: 0;
    font-family: 'Tablon', sans-serif;
    font-weight: 400;
}

.view-bar {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100px;
    background: black;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -4.5rem;
        background-image: url('./images/bar.svg');
        background-repeat: repeat-x;
    }
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
    transform: scaleY(-1);
}

#background {
    background: black no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#dialogue-box {
    display: none;
    position: absolute;
    z-index: 100000000 !important;
    max-width: 25%;
    min-width: 20%;
    height: auto;
    color: black;
    z-index: 2;
    cursor: pointer;
    padding: 0;

    .smartphone-choices {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;
    
        .smartphone-choice {
            position: relative;
            max-width: 300px;
            background: transparent;
            border-image: url('./images/button-border.svg') 5 fill;
            border-width: 10px;
            padding: 1.5rem;
            transition: all .3s ease;
            left: 0;

            transition: all .3s ease;

            &.hidden {
                left: -100%;
            }
    
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}

.dialog__wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.comic-bubble {
    border-width: 20px;
    border-style: solid;
    border-image: url('./images/dialogbubble.svg') 30 fill;
    min-width: 300px;
    height: 200px;
    padding: 20px;
}

.comic-bubble__tail {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -52px;
    left: 80%;
    transform: translateX(-50%);
    background-image: url('./images/dialogbubble-arrow.svg');
}

#dialogue-box.right {
    display: block;
    bottom: 700px;
    right: 650px;
    transform: translateY(50%);
}

#dialogue-box.left {
    display: block;
    bottom: 700px;
    left: 650px;
    transform: translateY(50%);
}

#dialogue-box.left .comic-bubble__tail {
    left: 20%;
    transform: translateX(-50%) scaleX(-1);
}

#dialogue-box.center .comic-bubble__tail {
    left: 50%;
    transform: scaleX(-1);
}

#dialogue-box.narrator .comic-bubble__tail {
    display: none;
}

#dialogue-box.center {
    display: block;
    bottom: 750px;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
}

#dialogue-box.narrator {
    display: block;
    position: absolute;
    z-index: 1000000 !important;
    bottom: 40px;
    left: 50%;
    width: 100%;
    max-width: 100vw;
    background: rgba(0, 0, 0, .7) !important;
    color: white;
    padding: 20px;
    padding-bottom: 40px;
    z-index: 2;
    cursor: pointer;
    border: 0;
    transform: translateX(-50%);

    &.right {
        left: 600px;
        right: auto;
        top: 0;
        bottom: 0;
        width: 300px;

        .dialog__wrapper {
            display: flex;
            width: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
  }

  .narrator .dialog__wrapper {
    width: 1200px;
    margin: 0 auto;
    background: none;
  }
  
  #name {
    display: none;
    position: absolute;
    top: -120px;
    left: -75px;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #f9d342;
    padding: 1rem;
  }

  #name.displayed {
    display: block;
  }
  
  #dialogue {
    font-size: 18px;
  }

  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #characters {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    
    &.over {
        z-index: 10000000;
    }
  }
  
  .character-slot {
    position: absolute;
    bottom: 0;
    height: 700px;
    width: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    transition: all .3s ease;
  }
  
  #left-character {
    left: 10%;
  }
  
  #right-character {
    right: 10%;
  }

   #middle-character {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .character-slot img {
    max-height: 80%;
    max-width: 100%;
    object-fit: contain;
  }
  
  #game-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
  }

  
#mute-sound {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 100px;
  height: 100px;
  z-index: 100000;
  background: transparent;
  background-image: url('./images/glitched-sound.svg');
  background-size: contain;
  text-indent: -9999px;
  border: 0;
}

#mute-sound:hover {
  cursor: pointer;
}

#mute-sound.muted {
  background-image: url('./images/glitched-sound-mute.svg');
}


#skip-video {
  position: fixed;
  z-index: 1000000;
  bottom: 1rem;
  right: 1rem;

  padding-top: 0.8rem;
  text-transform: uppercase;
  background: transparent;
  color: white;
  border-width: 20px;
  border-image: url('./images/dialogbubble-black.svg') 20 fill;

  transition: all .3s ease;
}

#skip-video:hover {
  cursor: pointer;
}

#go-back {
  position: fixed;
  z-index: 10000;
  top: 1rem;
  left: 1rem;
  width: 70px;
  height: 70px;
  background: transparent;
  background-image: url('./images/back.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  text-indent: -9999px;

  &.hidden {
    display: none;
  }
}

#go-back:hover {
  cursor: pointer;
}

#skip-video.hidden {
  display: none;
}

#smartphone {
    display: none;
    position: fixed;
    z-index: 10000;
    bottom: 50%;
    right: 300px;
    width: 380px;
    height: 720px;
    background: white;
    border: 20px solid black;
    border-radius: 40px;

    transform: translateY(50%);

    &.visible {
        display: block;
    }
}

.smartphone__screen {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    .smartphone__screen__writting {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 50px;
        color: black;
        background: rgba(230, 230, 230, 1);
        border-radius: 10px;
        margin-left: 1rem;
        margin-top: 1rem;
        font-size: 2rem;

        &.hidden {
            display: none;
        }
    }

    .smartphone__screen__writting-bar {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        height: 50px;
        width: 100%;
        background: rgba(50, 110, 110, 1);
        margin-top: 1rem;
        cursor: pointer;

        &.blinking {
            animation: blink 3s infinite;
        }

        .arrow {
            display: block;
            width: 30px;
            height: 20px;
            background-image: url('./images/arrowRight.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: rgba(80, 140, 140, 1);
            width: 100%;
            height: 100%;
            padding-left: .5rem;
            margin: 0;
            border-radius: 5px;
        }
    }
}

@keyframes blink {
    0%, 100% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(0.5);
    }
}

.smartphone__screen__top-bar {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 50%;
    width: 50%;
    height: 20px;
    background: black;
    border-radius: 10px;

    transform: translateX(-50%);
}

.smartphone__screen__bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background: black;

    .button-square {
        width: 30px;
        height: 30px;
        background: rgba(230, 230, 230, 1);
        border-radius: 10px;
        margin: 0 10px;
    }

    .button-circle {
        width: 30px;
        height: 30px;
        background: rgba(230, 230, 230, 1);
        border-radius: 50%;
        margin: 0 10px;

        &.hidden {
            display: none;
        }
    }

    .button-triangle {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid rgba(230, 230, 230, 1);
        margin: 0 10px;

        transform: rotate(-90deg);

        &.hidden {
            display: none;
        }
    }
}

.smartphone__screen__content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
  padding-top: 50px;

  .smartphone__screen__messages {
    list-style: none;
    padding: 0 1rem;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 120%;

    .message {
      display: flex;
      align-items: flex-end;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &.hidden-avatar {
        margin-bottom: 0;

        .message__content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
      }

      &.sender {
        .message__content {
          margin-left: 6rem;
          color: white;
          background: rgba(50, 110, 110, 1);
        }
      }

      &.other {
        .message__content {
          margin-right: 3rem;
          background: rgba(230, 230, 230, 1);
        }
      }

      .hidden-avatar + & {
        .message__content {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
      }

      &.hidden-name {
        .message__header {
          display: none;
        }
      }

      .message__avatar {
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        display: block;
        margin-right: 10px;
        background-color: red;

        .sender & {
          display: none;
        }

        .hidden-avatar & {
          visibility: hidden;
        }
      }

      .message__content {
        color: black;
        border-radius: 10px;
        padding: 1rem;
        width: 100%;
        animation: slideIn 0.3s ease forwards;

        .message__header {
            font-size: 0.6rem;
            margin-bottom: 0;
        }

        .message__text {
            margin-bottom: 0;
        }
      }
    }

    .message__reactions {
        list-style: none;
        padding: 0;
        margin: 0;
    }
  }
}

@keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

#smartphone-close {
    position: absolute;
    bottom: -150px;
    z-index: 1000000000;
    left: 50%;
    background: transparent;
    border-color: transparent;
    color: black;

    transform: translateX(-50%);
    cursor: pointer;

    border-image: url('./images/button-border.svg') 10 fill;
    border-width: 30px;
    padding: 1rem;

    &.hidden {
        display: none;
    }
}