#dialogue-box {
	display: none;
	position: absolute;
	z-index: 100000000 !important;
	max-width: 25%;
	min-width: 20%;
	height: auto;
	color: black;
	z-index: 2;
	cursor: pointer;
	padding: 0;

	&.thinking {

		#dialogue {
			font-style: italic;
		}

		.comic-bubble__tail {
			width: 70px;
			height: 70px;
			bottom: -73px;
			background-image: url('./images/dialogbubble-circles.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	.smartphone-choices {
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;
		overflow: hidden;
	
		.smartphone-choice {
			position: relative;
			max-width: 300px;
			background: transparent;
			border-image: url('./images/button-border.svg') 5 fill;
			border-width: 10px;
			padding: 1.5rem;
			transition: all .3s ease;
			left: 0;

			transition: all .3s ease;

			&.hidden {
				left: -100%;
			}
	
			&:hover {
				cursor: pointer;
				transform: scale(1.05);
			}
		}
	}
}

.dialog__wrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.comic-bubble {
	border-width: 20px;
	border-style: solid;
	border-image: url('./images/dialogbubble.svg') 30 fill;
	min-width: 300px;
	height: 200px;
	padding: 20px;

	&.phone {
		border-image: url('./images/dialogbubble-black.svg') 30 fill;
		color: white !important;
	}
}

.comic-bubble__tail {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: -52px;
	left: 80%;
	transform: translateX(-50%);
	background-image: url('./images/dialogbubble-arrow.svg');

	.phone & {
		background-image: url('./images/dialogbubble-arrow-black.svg');
	}
}

#dialogue-box.right {
	display: block;
	bottom: 64.81%;
	right: 33%;
	transform: translateY(50%);
}

#dialogue-box.left {
	display: block;
	bottom: 64.81%;
	left: 33%;
	transform: translateY(50%);
}

#dialogue-box.left .comic-bubble__tail {
	left: 20%;
	transform: translateX(-50%) scaleX(-1);
}

#dialogue-box.center .comic-bubble__tail {
	left: 50%;
	transform: translateX(-20%) scaleX(1);
}

#dialogue-box.narrator .comic-bubble__tail {
	display: none;
}

#dialogue-box.center {
	display: block;
	bottom: 70.81%;
	left: 40%;
	transform: translateY(50%) translateX(-50%);
}

#dialogue-box.narrator {
	display: block;
	position: absolute;
	z-index: 1000000 !important;
	bottom: 40px;
	left: 50%;
	width: 100%;
	max-width: 100vw;
	background: rgba(0, 0, 0, .7) !important;
	color: white;
	padding: 20px;
	padding-bottom: 40px;
	z-index: 2;
	cursor: pointer;
	border: 0;
	transform: translateX(-50%);

	&.right {
		left: 20%;
		right: auto;
		top: 0;
		bottom: 0;
		width: 300px;

		.dialog__wrapper {
			display: flex;
			width: auto;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

.narrator .dialog__wrapper {
	width: 1200px;
	margin: 0 auto;
	background: none;
}
  
#name {
	display: none;
	position: absolute;
	top: -70px;
	left: -30px;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #f9d342;
	padding: 1rem;
	background: black;
}

#name.displayed {
	display: block;
}

#dialogue {
	font-size: 18px;
}